@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?trcyh5');
    src:    url('fonts/icomoon.eot?trcyh5#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?trcyh5') format('truetype'),
        url('fonts/icomoon.woff?trcyh5') format('woff'),
        url('fonts/icomoon.svg?trcyh5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1px;
	color: #666;

		font-size:14px;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e986";
}
