{% extends 'base.html' %}
{% block body %}
    {% load static %}
<br>
<div class="header-container prodlist_no">
	<div class="order-form">
		<div class="order-form-title">Fill Address Form</div>
		<div class="order-form-table">
			<form method="POST" role="form" action="" enctype="multipart/form-data">
				{% csrf_token %}
			<table border="1" class="add-form-table">
				<tr class="tr-main">
					<td class="td-main">
						{% if not add_form.name.errors %}
							<div class="left-align" style="text-align: center;padding-top: 12px;">{{ add_form.name.errors }}</div>
						{% endif %}
						{{ add_form.name }}
					</td>
					<td class="td-main">
						{{ add_form.mobile_no }}
					</td>
				</tr>
				<tr class="tr-main">
					<td class="td-main">				
							<div class="left-align" style="text-align: center;padding-top: 12px;">{{ add_form.pincode.errors }}</div>
							{{ add_form.pincode }}
					</td>
					<td class="td-main">
						{% if not add_form.address.errors %}
							<div class="left-align" style="text-align: center;padding-top: 12px;">{{ add_form.address.errors }}</div>
						{% endif %}
						{{ add_form.address }}
					</td>
				</tr>
				<tr class="tr-main">
					<td class="td-main">
						{% if not add_form.city.errors %}
							<div class="left-align" style="text-align: center;padding-top: 12px;">{{ add_form.city.errors }}</div>
						{% endif %}
						{{ add_form.city }}
					</td>
					<td class="td-main">
						{% if not add_form.state.errors %}
							<div class="left-align" style="text-align: center;padding-top: 12px;">{{ add_form.state.errors }}</div>
						{% endif %}
						{{ add_form.state }}
					</td>
				</tr>
				<tr class="tr-main">
					<td class="td-main"></td>
					<td class="td-main" align="right"><input type="submit" value="Continue" class="submit-address-form"></td>
				</tr>
			</table>
		</form>
		</div>
	</div>
</div>
{% endblock %}