{% extends 'userauth/login_reg_base.html' %}
{% block body %}
{% load static %}
<br>
<br>
<div class="log-container">
	<div class="log-inner">
			 <br>
						<div class="la-cl"><div class="mini-lab">Login for Online Shopping Mall
                        </div>
                            {% if error_message %}
                                <div class="left-align" style="text-align: center;padding-top: 12px;">{{ error_message }}</div>
                            {% endif %}
                        <br>
                        </div>
                {% if request.GET.next %}
					<form action="{% url 'userauth:login_user'%}?next={{request.GET.next}}" method="post" >
				{%else%}
                	<form role="form" action="{% url 'userauth:login_user'%}" method="post" enctype="multipart/form-data">
                {%endif%}  
                        {% csrf_token %}
							<input type="text" name="username" placeholder="Enter Email or Phone" class="log-form">
								<br><br>
							<input type="password" name="password" placeholder="Enter Password" class="log-form">
								<br><br>
							<input type="submit" class="log-bt" value="Login">
                </form>
<br>

<div class="right-align"><a href="#" style="color: #535766;text-decoration:none;">Forget Password ?</a></div>
<br>
<hr size="1">
<br>
        <a href="{% url 'userauth:register'%}" style="text-decoration: none;color: white;"><button type="button" name="Login" class="log-bt"> Sign Up</button></a>
</div>
</div>
	<br>
	<br>

{% endblock %}